body {
  background: #121212;
  color: white;
}

a {
  color: grey;
}

#canvas{
  border: solid 1px black;
  width:  100%;
  //height: 100%;
}

#settings {
  padding: 6px 0;
  display: inline-block;
  margin: 0 0.5rem;

  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s; /* don't forget to set a duration! */
}

#main {
  display: flex;
  flex-direction: row;
}

#settings-layout {
  padding: 6px;
}